pipeline/pipeline2.json
{
	"name": "pipeline2",
	"properties": {
		"activities": [
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Select Username",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@empty(activity('Lookup2').output.value)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "TotalNames",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "AllNames",
								"value": {
									"value": "@variables('Username')",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Select Username",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Username",
					"value": {
						"value": "json(@pipeline().parameters.UserJson).Username",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"UserJson": {
				"type": "object"
			}
		},
		"variables": {
			"Username": {
				"type": "String"
			},
			"AllNames": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}